
.static-logo__container {
  z-index: 2;
  margin-top: 40px;
  margin-left: 32px;
  height: 30px;
  width: 100px;
  padding: 0px 40px 80px 40px;
  position: fixed;
}

.static-logo {
  height: 25px;
}


@media (max-width: 800px) {

  .static-logo__container  {
    margin-left: 0;
    padding: 0px 30px;
  }

  .static-logo {
    height: 20px;
  }
}