.dealership-setup-wrapper {
  background: #fff;
  height: 100%;
  width: 100%;
}


.wizard-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}


.wizard-wrapper {
  margin-top: 60px;
  width: 100%;
 
}


.wizard-container {
  display: block;
  margin-top: 6px;
  padding: 60px
}

@media (max-width: 800px) {

  .wizard-header {
    padding: 0px 30px
  }

  .wizard-container {
    padding: 30px;
  }
}