
.homepage__text-block {
  width: calc(100vw * .3);
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: 80px;
}

.homepage__landing-title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 35px;
  margin: 0px;
  padding: 0px;
}

.homepage__landing-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  font-size: 17px;
  color: gray;
}

.duo-tile {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: none;
}

.duo-element {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}


.dealership-sketch {
  display: block;
  transform: translateY(25%);
  position: relative;
  margin-right: 0px;
  margin-left: auto;
  height:500px;
}

@media (max-width: 800px) {
  .hidden-mobile {
    display: none;
  }

  .homepage__text-block {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 60px
  }
}


/*



@media (max-width: 800px) {
  
}


@media (max-width: 800px) {
  .homepage-landing-tile {
    width: 100%;
    overflow: hidden;
  }
}
*/